body {
  margin: 0;
  font-family: "Roboto";
}
h1 {
  display: flex;
  justify-content: center;
  right: 50%;
  left: 50%;
  position: absolute;
  color: wheat;
  text-align: center;
  font-family: "Bungee Spice";
  font-size: 48px;
}
.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#pokedex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 1000px;
  height: 640px;
  background-color: rgb(38, 68, 109);
}
.pokemonBasic {
  margin: 8px;
  border-radius: 16px;
  width: 150px;
  height: 140px;
}
.pokemonName {
  font-weight: 500;
  font-size: 20px;
  padding-top: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color: white;
}
.pokemonImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: auto;
  margin-left: 65px;
  margin-top: 8px;
}
.type1 {
  margin-top: -74px;
  margin-left: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  font-size: 12px;
  text-align: center;
  border-radius: 50px;
  width: 40px;
  border: 2px solid white;
}
.type2 {
  border: 2px solid white;
  margin-left: 6px;
  margin-top: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  font-size: 12px;
  text-align: center;
  border-radius: 50px;
  width: 40px;
}

.fireBackground {
  background-color: rgb(251, 108, 109);
}
.waterBackground {
  background-color: rgb(119, 191, 254);
}
.bugBackground {
  background-color: rgb(99, 170, 99);
}
.normalBackground {
  background-color: rgb(129, 129, 118);
}
.grassBackground {
  background-color: rgb(71, 209, 178);
}
.poisonBackground {
  background-color: rgb(102, 53, 148);
}

.pokemonBasic:hover {
  cursor: pointer;
  filter: brightness(0.8);
  transform: scale(1.1);
}
.grey {
  filter: brightness(0.3);
}
.window {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokemonDetail {
  border-radius: 20px;
  background-color: rgb(226, 63, 63);
  height: 800px;
  width: 350px;
}
.whiteOverlay {
  z-index: 10;
  margin-top: 293px;
  border-radius: 20px;
  background-color: white;
  width: 350px;
  height: 450px;
}
.pokemonNameDetail {
  font-weight: 500;
  font-size: 48px;
  padding-top: 10px;
  margin-top: 10px;
  color: white;
}
.pokemonIdDetail {
  display: flex;
  justify-content: end;
  top: 38px;
  left: 815px;
  font-weight: 500;
  font-size: 24px;
  padding-top: 10px;
  margin-top: 10px;
  color: white;
}
.pokemonImgDetail {
  height: 20px;
  width: 20px;
}
.name-id {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pokemonType {
  border: 2px solid white;
  margin-left: 6px;
  margin-top: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  font-size: 12px;
  text-align: center;
  border-radius: 50px;
  width: 40px;
}
