body {
  margin: 0;
  font-family: "Roboto";
}
h1 {
  display: flex;
  justify-content: center;
  right: 50%;
  left: 50%;
  position: absolute;
  color: wheat;
  text-align: center;
  font-family: "Bungee Spice";
  font-size: 48px;
}
.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#pokedex {
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 700px;
  height: 700px;
  background-color: rgba(255, 255, 255);
}
#pokemonBasic {
  border-radius: 8px;
  margin: 20px;
  width: 150px;
  height: 130px;
  background-color: rgb(71, 209, 178);
}
#pokemonName {
  font-weight: 500;
  font-size: 20px;
  padding-top: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color: white;
}
#pokemonImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: auto;
  margin-left: 60px;
  margin-top: -14px;
}
